.various-content {
    padding-top: 2%;
    margin: auto;
    display: flexbox;
    width: 60%;
    align-items: initial;
}
.snippet {
    padding-bottom: 5%;
}

.event-link {
    color: black;
    text-decoration-line: none;
}
